#theQuestion{
  white-space: pre-wrap;
}
body, html {
  overflow-x: hidden; 
  overflow-y: hidden;
 }


.brake{
  border: 1px solid white;
  width: 100%;
}

.modal-content{
  background: rgba(255, 255, 255, 0.5)!important;
  color: black;
  padding: 0 20px;
  font-family: cursive;
}

.vieQuestion{
  position: absolute;
  bottom: 40px;
  left: 530px;
  width: 300px;
  font-size: 20px!important;
  font-weight: bold!important;
  font-family: cursive!important;
  z-index: 9999;
}

.oscLogo{
  position: absolute;
  top: 0px;
  right: -20px;
  height: 150px;
  width: 170px;
  z-index: 9999;
}

.playScore{
  height: 40px;
  /* background-color: rgb(0,0,0,0); */
  text-align: center;
  line-height: 40px;
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  color: white;
  z-index: 9999;
}


