<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div class="container">
<div class="jambotron">
  {% if registered %}
<!-- forms go here -->
{{ problem_dispaly.as_p}}
<br>
<form method="POST">
   {% csrf_token %}

<!-- value not defined yet

  <input type="submit" value=""-->

    </form>
{% else %}
<h1>Please Register</h1>
<!-- return to registration-->
{% endif %}


</div>
</div>

</body>
</html>
