{% extends 'Registration_app/base.html' %}
{% block body_block %}

    <div class="container">
        <div class="jumbotron">
            {% if user.is_authenticated %}
                <h1>Problem Statement:</h1>
                <h2> {{ problem_statement }} </h2>

                <form method="POST" id="input_form">
                <h3>Enter the desired language: <input type="text" name="lang"></h3>
                <h3>Enter your code here:</h3>
                    {% csrf_token %}
                    <textarea name="user_solution" rows="10" cols="30"></textarea>
                    <input type="submit" value="Submit">
                </form>

                <h3>Result:</h3>
                <h3>{{ test_result }}</h3>
            {% else %}
                <h1>Please Login first</h1>
            {% endif %}
        </div>
    </div>

{% endblock %}

<!--
Not Functional!
*should prevent the page from reloading when 'submit' is pressed
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>  <!-- jQuery -->
<script type="text/javascript">
    $(document).on('submit','input_form', function (x) {
        x.preventDefault();
    });
</script>